@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #9ca3af;
  scroll-behavior: smooth;
  overflow-anchor: none;
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    animation: timeline-slide 0.3s;
  }
}

@keyframes timeline-slide {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  60% {
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
